[Unit]
Description=Admute Service

[Service]
Type=simple
ExecStart=%h/.scripts/admute
Restart=on-failure
LogLevelMax=alert

[Install]
WantedBy=multi-user.target
